// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-jaguar: #1d1c29;
$color-ottoman: #d0e4bb;
$color-orange-red: #eb3702;
$color-mango-tango: #f37600;
$color-apple: #5bc94e;
$color-fuel-yellow: #0c0b0a;
$color-aztec: #1f3834;
$color-linen: #fcf0e5;
$color-silver: #bababa;
$color-grey: #7d7d7d;
$color-deep-teal: #213f3b;
$color-honeydew: #f2ffe5;

// Typography
$ff-main: "PTSans", "Arial", sans-serif;
$ff-secondary: "Arsenal", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
