.footer {
  padding: 54px 0 31px;

  @include vp-767 {
    padding: 35px 0;
  }

  .container {
    max-width: 1340px;
    padding: 0 30px;

    @include vp-767 {
      margin: 0;
      padding: 0 20px;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 383px 1fr;
    margin: 0 0 35px 0;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 300px 1fr;
    }

    @include vp-1023 {
      grid-template-columns: 1fr 230px 1fr;
      gap: 15px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
      margin: 0 0 32px 0;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: start;

    @include vp-767 {
      text-align: center;
      align-items: center;
    }

    &--right {
      text-align: right;
      align-items: end;

      @include vp-767 {
        text-align: center;
        align-items: center;
      }
    }
  }

  &__chapter {
    font-size: 14px;
    line-height: 20px;
    color: rgba($color-white, 0.4);
    margin: 0 0 20px 0;

    @include vp-767 {
      margin: 0 0 15px 0;
    }
  }

  &__link-text {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: $color-white;
    margin: 0 0 10px 0;
    transition: color $transition-300;

    @include vp-1023 {
      font-size: 14px;
    }

    @include vp-767 {
      margin: 0 0 15px 0;
      font-size: 16px;
    }

    &--mobile-dn {
      &:hover,
      &:focus,
      &:focus-visible {
        color: $color-mango-tango;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    color: $color-white;
    text-decoration: underline;
    transition: color $transition-300;

    @include vp-1023 {
      font-size: 14px;
    }

    @include vp-767 {
      font-size: 14px;
    }

    &--mobile-dn {
      @include vp-767 {
        display: none;
      }
    }

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-mango-tango;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-767 {
      margin: 0 0 20px 0;
    }
  }

  &__main-phone {
    font-size: 58px;
    line-height: 1.1;
    letter-spacing: -0.035em;
    color: $color-ottoman;
    font-family: $ff-secondary;
    margin: 0 0 15px 0;
    font-weight: 400;
    transition: color $transition-300;

    @media (max-width: 1200px) {
      font-size: 45px;
    }

    @include vp-1023 {
      font-size: 35px;
    }

    @include vp-767 {
      font-size: 36px;
      margin: 0 0 10px 0;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-linen;
    }
  }

  &__main-link {
    font-size: 20px;
    line-height: 1;
    color: $color-ottoman;
    text-decoration: underline;
    transition: color $transition-300;

    @include vp-1023 {
      font-size: 16px;
    }

    @include vp-767 {
      line-height: 20px;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-linen;
    }
  }

  &__social {
    margin: 0 0 35px 0;

    @include vp-767 {
      margin: 0 0 31px 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 36px;
    list-style: none;
    gap: 70px;

    @include vp-767 {
      flex-direction: column;
      gap: 5px;
      margin: 0 0 35px 0;
    }
  }

  &__item-link {
    position: relative;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: $color-white;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: left;
      transition: opacity $transition-300, transform $transition-300;
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  &__note-text {
    max-width: 800px;
    margin: 0 auto 30px;
    color: rgba($color-white, 0.4);
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    @include vp-767 {
      text-align: left;
      max-width: unset;
      margin: 0 0 26px 0;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 95px 1fr;
    gap: 50px;
    align-items: center;

    @include vp-767 {
      display: flex;
      justify-content: center;
    }
  }

  &__whitemark {
    display: flex;
  }

  &__logo {
    display: flex;

    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;

        svg {
          width: 82px;
          height: 19px;
        }
      }
    }
  }
}
