.respectability {
  margin: 0 0 123px 0;
  position: relative;
  overflow: hidden;
  padding: 80px 0 0 0;

  @include vp-1023 {
    margin: 0 0 80px 0;
  }

  @include vp-767 {
    margin: 0 0 52px 0;
    padding: 50px 0 0 0;
  }

  &__decor {
    position: absolute;
    right: 0;
    top: -360px;
    z-index: -1;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }
  }

  &__title {
    max-width: 654px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.035em;
    color: $color-ottoman;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $ff-secondary;

    @include vp-1023 {
      max-width: unset;
      font-size: 50px;
    }

    @include vp-767 {
      font-size: 36px;
      margin: 0 0 32px 0;
    }
  }

  &__description {
    max-width: 953px;
    color: $color-white;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 auto 74px auto;
    padding: 0;
    text-align: center;

    @include vp-1023 {
      font-size: 22px;
      max-width: unset;
      margin: 0 auto 40px auto;
    }

    @include vp-767 {
      margin: 0 auto 31px auto;
      font-size: 18px;
      text-align: left;
    }
  }

  &__video-box {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;

    @include vp-767 {
      margin: 0 -20px 0;
    }
  }

  &__video {
    height: 670px;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin: 0 0 50px 0;

    @include vp-1023 {
      height: 400px;
    }

    @include vp-767 {
      height: 265px;
      min-width: 360px;
      margin: 0 0 30px 0;
    }
  }

  &__video-play {
    position: absolute;
    left: 50%;
    top: 27.5%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-grey, 0.8);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 244px;
    gap: 16px;
    color: $color-white;
    font-size: 18px;
    line-height: 1.35;
    transition: background-color ease-in 0.3s;

    @include vp-1023 {
      font-size: 16px;
      padding: 15px;
      width: 210px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 1;
      gap: 10px;
      width: 197px;
      padding: 16px;
      top: 22%;
    }

    &:hover {
      background-color: rgba($color-grey, 1);
    }

    &:focus {
      background-color: rgba($color-grey, 1);
      outline: 1px solid $color-black;
    }

    &:focus-visible {
      background-color: rgba($color-grey, 1);
    }
  }

  &__video-icon {
    @include vp-767 {
      width: 16px;
      height: 19px;
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 36px;
    color: $color-white;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 46px 0;

    @include vp-1023 {
      font-size: 26px;
      line-height: 30px;
      margin: 0 0 25px 0;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 1.35;
      margin: 0 0 30px 0;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 28px;
    height: 100%;

    @include vp-1023 {
      gap: 10px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include vp-767 {
      margin: 0 0 0 20px;
    }
  }

  &__item {
    width: calc(33.33% - (28px * 2 / 3));
    flex-grow: 1;

    @include vp-1023 {
      width: 40%;
      flex-shrink: 0;
    }

    @include vp-767 {
      width: 320px;
    }
  }
}
