.section-next {
  position: relative;
  overflow: hidden;

  &__shadow-link {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    padding: 125px 0 118px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-767 {
      padding: 160px 0 141px;
    }
  }

  &__name {
    font-family: $ff-secondary;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 17px 0;
    color: $color-white;

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-family: $ff-secondary;
    color: $color-ottoman;
    font-size: 58px;
    line-height: 1.1;
    margin: 0 0 34px 0;
    font-weight: 400;
    letter-spacing: -0.035em;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 30px;
      margin: 0 0 15px 0;
      color: $color-white;
    }
  }

  &__icon {
    height: 27px;
    width: 182px;
    transform: translateX(0);
    transition: transform $transition-300;

    @include vp-767 {
      height: 25px;
      width: 130px;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-bottom: 12px;

    @include vp-767 {
      padding-bottom: 5px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: flex;
      }
    }
  }

  &:hover .section-next__title {
    color: $color-mango-tango;
  }

  &:hover .section-next__name {
    color: $color-ottoman;
  }

  &:hover .section-next__icon {
    transform: translateX(20%);
  }

  &:focus .section-next__title {
    color: $color-mango-tango;
  }

  &:focus .section-next__name {
    color: $color-ottoman;
  }

  &:focus .section-next__icon {
    transform: translateX(20%);
  }
}
